.rbc-header {
  background-color: #d9b761;
  color: black;
  color: white;
  font-weight: 500;
  padding-top: 5px;
}

.rbc-day-bg {
  background-color: white;
}

.rbc-today {
  background-color: #d9b761;
  color: white;
}

.rbc-header:first-child {
  border-top-left-radius: 1rem; /* Rounds top-left corner */
}

.rbc-header:last-child {
  border-top-right-radius: 1rem; /* Rounds top-right corner */
}

.rbc-month-row:last-child .rbc-day-bg:first-child {
  border-bottom-left-radius: 1rem; /* Rounds bottom-left corner */
}

.rbc-month-view {
  border-radius: 1rem;
}

.rbc-month-row:last-child .rbc-day-bg:last-child {
  border-bottom-right-radius: 1rem; /* Rounds bottom-right corner */
}

.rbc-button-link {
  font-size: 20px;
}

.rbc-event-content {
  padding: 0;
  margin: 0;
  background-color: #af907a;
  border-radius: 6px;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
}

.rbc-event {
  padding: 0;
  background-color: transparent;
}

.rbc-row-segment {
  margin-top: 0.5rem;
}

.rbc-day-bg {
  position: relative;
  background-color: white;
  overflow-y: scroll;
}
